__pycache__/
*.egg-info/
dependencies/
.ruff_cache/
.cursor/
launch.json
.vscode/


*.h5
*.xyz
*.log
*.ckpt
test*/

data/ts1x
data/*

.env

# logging
wandb/
outslurm/

# save computation results
scratch/
runs/
outputs/
dftruns/
runs_*/
results/

**/_version.py
_version.py